{% extends 'base.html.twig' %}

{% block title %}Inscription {% endblock %}

{% block content %}


        <br>
        {% if notification %}
                <div class="alert alert-info w-50 mx-auto text-center ">{{ notification }}</div>
        {% endif %}

        <div class="form-custom col-lg-6 offset-lg-3">
                <div class="row justify-content-center">
                {{ form(form) }}
                </div>

        </div>


{% endblock %}
